.menu {
  background-color: white;
  padding: 0 160px;
  margin-bottom: 25px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar {
  position: sticky;
  width: 282px;
  top: 205px;
  z-index: 90;
}

.menu-navbar {
  background-color: var(--background-color);
  position: sticky;
  top: 112px;
  z-index: 90;
}

.header-panel-city-info {
  cursor: pointer;
  font-size: 17px;
  a {
    color: var(--dodo-color);
  }
}

.menu-navbar-block {
  border-radius: 60px 60px 0 0;
  padding: 25px 160px;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 42px;
    font-size: 16px;
  }

  a {
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: var(--dodo-color);
  }

  a.active {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
  }
}

.menu-navbar-block-titles {
}

.menu-navbar-button {
  cursor: pointer;
  width: 115px;
  height: 40px;
  border-radius: 20px;
  border: 0px;
  background-color: var(--dodo-color);
  color: white;
  transition: 0.3s;
}

.menu-navbar-more-button {
  transition: 0.3s;
  cursor: pointer;
  width: 75px;
  height: 30px;
  border-radius: 20px;
  border: 0px;
  background-color: var(--background-color);
}

.menu-navbar-more-button:hover {
  color: var(--dodo-color);
}

.menu-content {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  row-gap: 20px;
  column-gap: 15px;
}

.menu-content-heading {
  margin: 45px 0px;
}

.aside-img-container {

  container-type: inline-size;
  container-name: aside-img-container;

  position: relative;
  max-width: 282px;
  width: 100%;

  img {
    max-width: 100%;
    height: 365px;
    border-radius: 40px;
  }
}

.aside-img-text-block {
  flex: 1;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 25px;
  left: 15px;
  right: 15px;


  .title {
    font-size: 29px;
  }

  .description {
    font-size: 15px;
    margin-top: 5px;
  }
}

@container aside-img-container (max-width: 240px) {
  .aside-img-text-block {
    .title {
      font-size: 27px;
    }

    .description {
      font-size: 12px;
    }
  }
}

.story-block {

  margin-bottom: 20px;

  padding: 0 160px;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  box-sizing: border-box;

}

.story-block-button {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 0;
  flex-shrink: 0;

  color: var(--dodo-color);
  font-size: 50px;
}

.story-block-button.prev {
  left: 125px;
}

.story-block-button.next {
  right: 125px;
}

.story-block-content {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-width: 0;
  gap: 7px;
}

.scroll-item {

  /* Жестко запрещаем сжатие (0) и растяжение (0) */
  flex: 0 0 calc((100% - (5 * 7px)) / 6);

  /* Дублируем для браузеров, которые игнорируют flex-basis на тегах img */
  width: calc((100% - (5 * 7px)) / 6);
}

.story-block-content img {
  border-radius: 30px;
  height: 241px;
  flex-shrink: 0;
  object-fit: cover;
  scroll-snap-align: start;

}

.header-panel {
  top: 0;
  left: 0;
  position: sticky;
  padding: 30px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: var(--background-color);
}

.left {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.header-panel .left .header-panel-brand-block {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header-panel-img-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header-panel .title {
  font-size: 29px;
}

.header-panel .description {
  font-size: 13px;
  font-weight: 600;
  font-style: bold;
  color: rgb(52, 52, 52);
}

.header-panel-img {
  height: 52px;
  width: 52px;
}

.header-panel-btn {
  width: 92px;
  height: 45px;
  border: 0;
  border-radius: 23px;
  background-color: white;
}