.story-block {

  margin-bottom: 20px;

  padding: 0 160px;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  box-sizing: border-box;

}

.story-block-button {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 0;
  flex-shrink: 0;

  color: var(--dodo-color);
  font-size: 50px;
}

.story-block-button.prev {
  left: 125px;
}

.story-block-button.next {
  right: 125px;
}

.story-block-content {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-width: 0;
  gap: 7px;
}

.scroll-item {

  /* Жестко запрещаем сжатие (0) и растяжение (0) */
  flex: 0 0 calc((100% - (5 * 7px)) / 6);

  /* Дублируем для браузеров, которые игнорируют flex-basis на тегах img */
  width: calc((100% - (5 * 7px)) / 6);
}

.story-block-content img {
  border-radius: 30px;
  height: 241px;
  flex-shrink: 0;
  object-fit: cover;
  scroll-snap-align: start;
}
