* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  --dodo-color: #FF5F00;
  --dodo-color-hover: #ff782b;
  --background-color: #0E0E10;
}

body,
button {
  background-color: var(--background-color);
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}