.modal-product-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
}

.modal-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 60vw;
  height: 85vh;
  border-radius: 23px;
}

.modal-card-product-img {
  display: block;
  width: 420px;
  height: 420px;
  margin-left: 65px;
}

.modal-card-product-panel {
  gap: 5px;
  margin-right: 20px;
  margin-top: 30px;
  width: 340px;
  display: flex;
  align-self: start;
  flex-direction: column;

  padding: 0;
  overflow: hidden;
  max-height: calc(85vh - 30px - 20px);
}

.modal-card-product-content {
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-card-product-content::-webkit-scrollbar {
  width: 10px;
}

.modal-card-product-content::-webkit-scrollbar-thumb {
  background: rgb(234, 234, 234);
  border-radius: 5px;
}

.button-cart {
  cursor: pointer;
  transition: 0.4s;
  margin-top: 15px;
  height: 55px;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: var(--dodo-color);
}

.button-cart:hover {
  background-color: rgb(249, 124, 52);
}

.modal-card-product-panel-type {
  color: rgb(166, 166, 166);
  font-size: 15px;
}

.modal-card-product-panel-description {
  font-size: 15px;
  overflow-wrap: break-word;
  line-height: 1.1;
}

.close-modal {
  transition: 0.2s;
  cursor: pointer;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  background-color: var(--background-color);
}

.close-modal:hover {
  background-color: rgb(168, 170, 178);
}

.button-option-panel {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;

  button {
    font-size: 14px;
    border: none;
    border-radius: 20px;
  }
}

.add-ingredients-panel {
  margin-top: 20px;
}

.add-ingredients-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
}

.add-ingredients-card {
  cursor: pointer;
  transition: 0.2s;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);

  img {
    width: 88px;
    height: 88px;
  }

  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.add-ingredients-card:hover {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.add-ingredients-card-title {
  font-size: 13px;
}

.add-ingredients-card-price {
  margin: 15px 0px;
  font-size: 16px;
}

.card-product-content-block {
  display: flex;
  flex-direction: column;
}