.modal-product-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
}

.modal-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(24, 26, 31);
  width: 60vw;
  height: 85vh;
  border-radius: 23px;
}

.modal-card-product-img {
  display: block;
  width: 420px;
  height: 420px;
  margin-left: 65px;
  position: relative;
  left: 1.5%;
  transition: 0.3s;
}

.modal-card-product-panel {
  gap: 5px;
  margin-right: 20px;
  margin-top: 30px;
  width: 340px;
  display: flex;
  align-self: start;
  flex-direction: column;

  padding: 0;

  max-height: calc(85vh - 30px - 20px);
}

.modal-card-product-content {
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-card-product-content::-webkit-scrollbar {
  width: 10px;
}

.modal-card-product-content::-webkit-scrollbar-thumb {
  background: #38383C;
  border-radius: 5px;
}

.button-cart {
  cursor: pointer;
  transition: 0.4s;
  margin-top: 15px;
  height: 55px;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: var(--dodo-color);
}

.button-cart:hover {
  background-color: rgb(249, 124, 52);
}

.modal-card-product-panel-type {
  margin-top: 3px;
  color: #9e9e9f;
  font-size: 15px;
}

.modal-card-product-panel-description {
  font-size: 15px;
  overflow-wrap: break-word;
  line-height: 1.1;
  margin-bottom: 10px;
}

.close-modal {
  transition: 0.2s;
  cursor: pointer;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 35px;
  color: white;
  background-color: #202022;
}

.close-modal:hover {
  background-color: #38383C;
}

.button-option-panel {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 28px;
  background-color: #38383C;
  border-radius: 15px;

  button {
    cursor: pointer;
    background-color: #38383C;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    margin: 1px 1px;
    height: 25px;
    transition: 0.6s;
  }
}

.button-option-panel .active {
  background-color: #1c1c1e;
}

.add-ingredients-panel {
  margin-top: 20px;
}

.add-ingredients-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
}

.add-ingredients-card {
  cursor: pointer;
  transition: 0.2s;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(24, 26, 31);

  img {
    width: 88px;
    height: 88px;
  }

  /* box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1); */
}

.add-ingredients-card.active {
  border: 1px solid var(--dodo-color);
}

.add-ingredients-card:hover {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.add-ingredients-card-title {
  padding: 0 5px;
  font-size: 13px;
  line-height: 1.4;
}

.add-ingredients-card-price {
  margin: 15px 0px;
  font-size: 16px;
}

.card-product-content-block {
  display: flex;
  flex-direction: column;
}

.disabled {
  color: gray;
}

.scale-20 {
  transform: scale(0.75);
}

.scale-25 {
  transform: scale(0.90);
}

.scale-30 {
  transform: scale(1.05);
}

.scale-35 {
  transform: scale(1.2);
}

.removed {
  color: rgb(247, 3, 3);
}

.not-removed {
  color: white;
}

.nutrition-facts-block {
  background-color: rgba(226, 226, 226, 0.8)

}